.catgeory {
  .content {
    margin-top: 30px;
    .slick-slide > div {
      margin: 10px;
    }
    .item {
      display: flex !important;
      align-items: center;
      gap: 20px;
      background-color: #f9f9f9;
      padding: 15px;
      border-radius: 10px;
      .img {
        padding: 20px;
        img {
          height: 50px;
          width: 80px;
          object-fit: contain;
        }
      }
    }
  }
}
.catgeory .content .next-arrow {
  top: 22%;
  right: -35px;
  background-color: white;
  color: black;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.catgeory .content .prev-arrow {
  top: 22%;

  left: -35px;
  background-color: white;
  color: black;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
